<div class="row">

  <!-- Side Bar -->

        <div class="large-4 small-12 columns">

          <img src="http://placehold.it/500x500&text=Logo">

          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>

          <a href="#">
          <div class="panel callout radius">
            <h6>99&nbsp; items in your cart</h6>
          </div>
          </a>

        </div>

    <!-- End Side Bar -->


    <!-- Thumbnails -->

        <div class="large-8 columns">
          <div class="row">

  <% @productos.each do |producto| %>
            <div class="large-4 small-6 columns">
              <a href="<%= url_for producto %>"><img src="<%= producto.img%>" class="home" ></a>

              <div class="panel">
                <h5><%= link_to truncate(producto.nombre, :length => 15, :omission => '...'), producto %></h5>
                <h6 class="subheader">$ <%= producto.precio %></h6>
              </div>
            </div>

          <%end%>

    <!-- End Thumbnails -->



        </div>
      </div>
